<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Food Order.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Food Order.com,
      your sign in email is: <%= @user.email %>.<br>
    </p>
    <p>
      To Sign in to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for signing up and have a great day!</p>
  </body>
</html>

